.contactList {
  display: flex;
  flex-direction: column;

  .addSearchContacts {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 10px;
    flex-shrink: 0;
    input {
      background-color: black;
      padding: 15px;
      width: 70%;
      border: none;
      color: white;
      font-size: 15px;
      border-radius: 10px;
    }
    .search {
      display: flex;
      align-items: center;

      .searchContact {
        padding: 10px;
        font-size: 30px;
      }
      .addContact {
        color: rgb(47, 255, 175);
        padding: 10px;
        font-size: 30px;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd35;
    border-top: 1px solid #dddddd35;
    overflow: scroll;
    max-height: 500px; /* Adjust as needed */
    overflow-y: auto; /* Enables scrolling for the list */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scrollbar-color: #222 black;
    scroll-behavior: smooth;
    flex-grow: 1;
    .user {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      padding: 20px;
      border-bottom: 1px solid #dddddd35;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
        }
        p {
          font-size: 14px;
          font-weight: 300;
          margin: 0px;
        }
      }
    }
    .user:hover {
      background-color: #333;
    }

    /* Selected style */
    .user.selected {
      background-color: #222;
    }
  }
}
input:focus {
  outline: none; /* Removes the default focus outline */
  border: none; /* Removes the border */
}
