.center {
  padding: 0px 20px;
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling within the center */
  scroll-behavior: smooth;
  max-height: calc(100vh - 320px);
  scrollbar-color: #222 black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .message {
    position: relative;
    max-width: 70%;
    display: flex;
    gap: 10px;
    &.user {
      align-self: flex-end;
      margin-left: auto;
    }
    .text-container {
      .replyChatDiv {
        word-wrap: break-word;
        border-left: 2px solid cadetblue;
        border-radius: 5px;
        padding: 20px;
        height: auto;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .reply-texts {
          p {
            padding: 20px;
            background-color: rgb(81, 141, 164);
            border-radius: 10px;
            overflow-wrap: anywhere;
          }
          .dateTime {
            display: flex;
            justify-content: center;
            gap: 10px;
            span {
              font-size: 12px;
              font-weight: 100;
            }
          }
        }
      }
    }
    .texts {
      cursor: pointer;
      p {
        background-color: rgb(81, 141, 164);
        overflow-wrap: anywhere;
      }
      .dateTime {
        display: flex;
        gap: 10px;
        span {
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 1px;
      cursor: pointer;

      p {
        padding: 20px;
        background-color: rgba(61, 66, 76, 0.3);
        border-radius: 10px;
        word-wrap: break-word;
      }
      .dateTime {
        display: flex;
        justify-content: center;
        gap: 10px;
        span {
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
    .addReaction {
      display: flex;
      position: absolute;
      bottom: 19px;
      left: 10px;
      cursor: pointer;
    }
    .reaction {
      display: flex;
      position: absolute;
      bottom: 19px;
      left: 10px;
      cursor: pointer;
    }
    .deleteMsg {
      display: flex;
      position: absolute;
      bottom: 20px;
      right: 8px;
      cursor: pointer;
    }
    .emojiPick {
      overflow-y: auto;
      position: absolute;
      bottom: 100px;
      left: 0;
      cursor: pointer;
    }
  }
  .replyDiv {
    position: relative;
    min-width: 76.5%;
    max-width: 76.5%;
    padding: 26px;
    word-wrap: break-word;
    background-color: black;
    align-self: flex-start;
    .cancelReply {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .replyMessage {
      padding: 26px;
      border-left: 2px solid cadetblue;
      border-radius: 10px;
      background-color: rgba(61, 66, 76, 0.3);
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
